HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.env
/target
*.class
target/classes/com/turnos/turnos/Controllers/MedicoController.class
target/classes/com/turnos/turnos/Controllers/PacienteController.class
target/classes/com/turnos/turnos/Repositories/MedicoRepository.class
target/classes/com/turnos/turnos/Repositories/PacienteRepository.class
target/classes/com/turnos/turnos/Services/MedicoService.class
target/classes/com/turnos/turnos/Services/PacienteService.class
target/classes/com/turnos/turnos/Services/TurnoService.class
target/classes/com/turnos/turnos/Controllers/MedicoController.class
target/classes/com/turnos/turnos/Controllers/PacienteController.class
target/classes/com/turnos/turnos/Repositories/MedicoRepository.class
target/classes/com/turnos/turnos/Repositories/PacienteRepository.class
target/classes/com/turnos/turnos/Services/MedicoService.class
target/classes/com/turnos/turnos/Services/PacienteService.class
target/classes/com/turnos/turnos/Services/TurnoService.class
target/classes/static/html/medico/perfilMedico.html
target/classes/static/html/paciente/perfilPaciente.html
docker-compose.yml
docker-compose.yml
