/* Estilos generales */

main{
    display: flex;
    justify-content: center; /* Alineación horizontal */
    align-items: center;
    
}

#contenedor{
    background-color: white;
    padding: 20px;
    max-width: 1000px;
    margin: 100px;
    display: flex;
    flex-direction: column;
}
@media(max-width:900px){
    #contenedor{
        margin: 0px;
    }
}

/* Sección de perfil */
.profile-container{
    display: block;
    text-align: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(247, 247, 247);
    border: 1px solid #cccccc;
    border-radius: 10px;
    margin: 10px;
}

img{
    align-self: center;
    display: inline;
    width: 100px;
    height: 100px;
    background-color: rgb(222, 222, 222);
    border-radius: 100%;
}

.profile-name {
    display: inline;
    font-size: 40px;
    font-weight: bold;
    align-self: center;
}

.profile-options a {
    margin-top: 10px;
    text-decoration: none;
    color: #555;
    font-size: 16px;
    margin-right: 20px;
}

.muestra-formulario {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 10px;
    gap: 10px;

    display: flex;
    flex-direction: column; /*https://github.com/DRVR1/SistemaDeTurnosBackend/issues/2*/
}

label {
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: bold;
}

.data-display {
    margin-bottom: 10px;
    width: 100%;
    height: 2em;
    display: inline;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: rgb(222, 222, 222);
    overflow:hidden;
}


.columna {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    width: auto;
    padding: 1rem;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: rgb(247, 247, 247);
    
}


/* Responsive */
@media (max-width: 1090px) {
    .muestra-formulario {
        flex-direction: column;
    }

    .details-box {
        width: 100%;
    }
}

