/* Este css debe estar en todos los  html. Son los estilos de los
modulos de javascript y un estilo base de cada pagina */

/* Transiciones al final del doc */


/* cuerpo de todos los html */
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  cursor: default;
  transition: all 0.3s;
}

body {
    background-color:#ccdbcc;
}

/* -----------------menu desplegable ----------------------*/

.menuDesp {
  top: 0;
  position: fixed;
  width: 18rem;
  height: 100%;
  background: #558557;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 1px 2px black;
  transform: translateX(-100%);
  z-index: 20; /* Asegura que el menú esté sobre el overlay */
}

/* Mostrar el menú */
.menuDesp.open {
  transform: translateX(0); /* Hace visible el menú */
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 10; /* Asegura que el overlay esté sobre el contenido */
}

#bienvenido{
  margin-top: 80px;
  font-size: 40px;
  margin-bottom: 40px;
  color: white;
  text-shadow: 0px 2px 5px rgb(50, 50, 50) ;
}
ul{
  border: white;
}
ul li {
  line-height: 10px;
  text-align: left;
  margin: 15PX;
  padding: 7px 13px;
  text-decoration: none;
  list-style-type: none;
  display: block;
}

ul li a {
  text-shadow: 0px 2px 3px rgb(50, 50, 50) ;
  color: white;
  font-size: 200%;
}

a:hover {
  text-decoration: underline;
  color: #192519;

  cursor: pointer;
}

#cerrarSesion{
  position: absolute;
  bottom: 2%;
}

/* -----------------------------Boton 3 lineas --------------------------------*/


/* Estilos básicos para las líneas */
.line {
  width: 60%;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 6px;
  position: absolute;
  left: 4px;
  cursor: pointer;
}

/* Posiciones iniciales */
.line1 { top: 9px; }
.line2 { top: 17px; }
.line3 { top: 25px; }

/* Transformación a cruz cuando el menú está abierto */
#checkbox:checked + .checkbtn .line1 {
  transform: rotate(45deg);
  top: 14px;
}

#checkbox:checked + .checkbtn .line2 {
  opacity: 0; /* Desaparece la línea del medio */
}

#checkbox:checked + .checkbtn .line3 {
  transform: rotate(-45deg);
  top: 14px;
}


#checkbox {
  display: none;

}

#checkMenu {
  top: 0;
  background-color: #558557;
  padding: 25px;
  border: 2px #558557 solid;
  border-radius: 100%;
  position: fixed;
  cursor: pointer;
  z-index: 30;
  margin-left: 10px;
}

/* -----------------------------header --------------------------------*/
header{
  background-color: #558557;
  height:max-content ;
  width: 100%;
  text-align: end;
  box-shadow: 0px 1px 2px black;
}

header h1{
  color:#ffffff;
  cursor:pointer;
  display: inline;
  margin-right: 20px;
  font-size: 3rem;
}
/* ---------
header button {
  font-size: 1.3rem;
  width:15rem;
  border: none;
  margin:1rem;
  background-color: #dddddd;
  color:#000000;
  border-radius: 10px;
  border: 2px solid black;
  padding: 10px;
  box-shadow: 0.1rem 0.1rem #000000; 
  cursor: pointer;
}

header button:hover {
  background-color: #ffffff;
}



.boton_opciones_home{
    border-left: 10px solid rgba(255, 255, 255, 0);
    justify-content: center;
    align-content: center;
    width: 170px;
    height: 170px;
    margin:30px;
    margin-top: 20px;
    background-color: #ededed;
    color: #000000;
    padding: 10px 15px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 10px 10px 1px rgb(0, 0, 0);
    border-radius: 10px;
    font-family: sans-serif;
}

.boton_opciones_home p {
  margin: auto;
}

.boton_opciones_home:hover{
  transform: scale(1.1);
  border-left: 10px solid #408d49;
}
.boton_opciones_home:active{
  transform: scale(1);
}


----*/

/*popups.js, boxsTurnos.js*/

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-content {
  font-size: 1.4rem;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 400px;
  max-width: 80%;
  border: 0.2rem solid black;
}

/*Popups de carga*/
.loadingBox{
  z-index: 9999;
}






/*Botones de cancelar y de aceptar*/
.cancelarAceptarBoton{
  font-size: 1.4rem;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
}

.aceptarBoton{
    background-color: #175c1a;
    color: white;
}
.aceptarBoton:hover{
  background-color: #479549;
}
.cancelarBoton{
  background-color: #670000;
  color: white;
  margin-left: 1rem;
}
.cancelarBoton:hover{
  background-color: #b60707;
}
@media(max-width:400px){
  .popup-content{
    display: flex;
    flex-direction: column;
  }
  .cancelarBoton{
    margin-top: 1rem;
    margin-left: 0;
  }

}






/*boxsTurnos.js*/
#turnosList { 
  list-style-type: none; 
  padding: 0; 
}

#turnosList li { 
  text-align: center;
  font-size: 1.1rem;
  background: #f4f4f4; 
  margin: 20px 0; 
  padding: 10px; 
  border-radius: 2rem; 
  border: 0.1rem solid #000000;
}

/*calendario*/

.calendar-container {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}



.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
}

.calendar-grid div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  height: 50px;
}

@media(max-width:500px){
  .calendar-grid{
    grid-gap: 0px;
  }
  .calendar-grid div{
    border-radius: 0;
  }
  
}
.calendar-grid div:nth-child(7n) {
  color: red; /* Domingo */
}


.dayDiv {
  background-color: rgb(225, 225, 225);
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  user-select: none;
}

.dayDiv:hover{
  background-color: rgb(175, 175, 175);
}

.dayDiv:active{
  transform: scale(0.9)
}

.day-available {
background-color: #096900;
color:rgb(255, 255, 255);
}

.day-available:hover {
background-color: #11c900;
color:rgb(255, 255, 255);
}


/*----------------------------Transiciones------------------------------------*/

@media (max-width: 1089px) { /*-------------------------------Cuando es muy chico----------------------------*/
  /*Menu desplegable*/

  ul li a {
      font-size: 15px; 
  }
  #bienvenido{
    font-size: 20px;
  }
  .menuDesp{
    width: 160px;
  }

  /*header*/
 

  header {
    flex-direction: column;
    height: auto;    
    justify-content: space-around;
    padding: 10px;
  }

  header h1 {
    font-size: 30px; 
    margin-bottom: 10px; 
  }

  header button {
    margin-left: 0;
    margin-bottom: 10px; 
  }

}


@media (min-width: 2000px) { /*---------------Cuando es muy grande------------------------*/
  /*Menu desplegable*/
  ul li a {
      font-size: 45px;
  }
  #bienvenido{
    margin-top: 100px;
    font-size: 50px;
  }
  .menuDesp {
    width: 330px;
  }
}

