/* Estilos generales */
body {
    font-family: sans-serif;
    background: #799b77;
}

.box {
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    margin-top:100px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 10px 5px black;
}

.box h2{
    text-align: center;
    margin: 10px;;
}

form {
    display: flex;
    flex-direction: column;
}

label {
 margin: 0;
  padding: 0;
}

input {
    font-size: 18px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #006004;
    color: white;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #004d03;
}

